.title {
    text-align: center;
    margin-top: 64px;
}

.title h1 {
    font-size: 24px;
}

.about-me {
    color: #868e96;
    font-size: 14px;
    max-width: 750px;
    display: inline-block;
}

.project {
    width: 50%;
    margin: 64px auto;
    background-color: #f8f9fa;
    padding: 24px;
    overflow: hidden;
}

.project-image {
    width: 50%;
    float: left;
}

.project-image img {
    width: 80%;
    height: auto;
    margin-left: auto;
    display: block;
    border-radius: 5%;
}

.project-information {
    width: 50%;
    float: left;
}

.project-name {
    font-size: 24px;
    margin-bottom: 8px;
}

.project-description {
    font-size: 16px;
    text-align: left;
}

.specifications {
    font-size: 16px;
    margin: 24px 0 4px 0;
    font-weight: bold;
}

ul {
    list-style-position: inside;
    padding-left: 4px;
}

li {
    font-size: 16px;
}

footer {
    padding: 0 24px;
    margin: 128px 0 8px 0;
    overflow: hidden;
}

.footer-text {
    display: inline;
    font-size: 14px;
}

footer a {
    float: right;
    font-size: 14px;
}